<%- include('partials/header') %>

<div class="container">
  <h1>Selamat Datang di Website Kolam Renang</h1>
  <p>Ini adalah halaman utama. Anda dapat mengelola pengunjung kolam renang di sini.</p>
  
  <a href="/pengunjung" class="btn btn-primary">Lihat Daftar Pengunjung</a>
  <a href="/pengunjung/add" class="btn btn-success">Tambah Pengunjung</a>
</div>

<%- include('partials/footer') %>
